In [1]:
import pandas as pd

In [2]:
#Qn 1:-
lst = [4, 8, 15, 16, 23, 42]
df = pd.DataFrame(lst)

In [5]:
#Qn 2:-
lst1 = [1,2,3,4,5,6,7,8,9,10]
df1 = pd.DataFrame(lst1)

In [9]:
#Qn 3:-
lst2 = [['Name' , 'Age' , 'Gender'], ['Alice', 25, 'Female'], ['Bob', 30, 'Male'], ['Claire', 27,'Male']]
df2 = pd.DataFrame(lst2)

In [ ]:
#Qn 4:-
'''As noted in the table, a Pandas Series is a 1D array of data, but a single-column
DataFrame is a 2D table with one column. The main distinction between the two is this.
For a single-column DataFrame, an index can be optional, but a Series has to have an 
index defined.'''

In [ ]:
#Qn 5:-
'''
Head and Tail.
DataFrame.info( )
Pandas dataframe.info() 
Len()
Dtypes.'''

In [ ]:
#Qn 6:-
'''
Panel is Mutable in nature.

In [ ]:
#Qn 7:-
lst3 = [['Name' , 'Age' , 'Gender'], ['Alice', 25, 'Female'], ['Bob', 30, 'Male'], ['Claire', 27,'Male']]
df3 = pd.DataFrame(lst3)