In [3]:
import pandas as pd
course_name = ['Data Science', 'Machine Learning', 'Big Data', 'Data Engineer']
duration = [2,3,6,4]
df = pd.DataFrame(data ={'course_name' : course_name, 'duration' : duration})

In [ ]:
#Qn 1:-
'''

data1 =df.head(2)
data1

'''

In [ ]:
#Qn 2:-
'''
The loc() function is label based data selecting method which means that we have to pass 
the name of the row or column which we want to select. 

The iloc() function is an indexed-based selecting method which means that we have to pass
an integer index in the method to select a specific row/column.
'''

In [12]:
#Qn 3:-
'''reindex = [3, 0, 1, 2]
new_df = df.reindex(reindex)
print(new_df.loc[2])   
print(new_df.iloc[2])'''

course_name    Big Data
duration              6
Name: 2, dtype: object
course_name    Machine Learning
duration                      3
Name: 1, dtype: object

In [2]:
import pandas as pd
import numpy as np
columns = ['column_1', 'column_2', 'column_3', 'column_4', 'column_5', 'column_6']
indices = [1,2,3,4,5,6]
#Creating a dataframe:
df1 = pd.DataFrame(np.random.rand(6,6), columns = columns, index = indices)
df1

   column_1  column_2  column_3  column_4  column_5  column_6
1  0.216240  0.396245  0.575231  0.830793  0.506509  0.265739
2  0.306386  0.600738  0.048921  0.280655  0.184611  0.741650
3  0.144147  0.648468  0.298219  0.906478  0.562963  0.339720
4  0.455618  0.540583  0.935997  0.815521  0.698611  0.367209
5  0.516009  0.613931  0.395832  0.212012  0.397811  0.842153
6  0.810048  0.595083  0.161918  0.779280  0.473151  0.496886

In [15]:
#Qn 4:-
'''df1['column_1' ].mean()
df1['column_2' ].mean()
df1['column_3' ].mean()
df1['column_4' ].mean()
df1['column_5' ].mean()
df1['column_6' ].mean()

df1['column_1'].std()'''

0.24178152100637604

In [ ]:
#Qn 5:-
'''df1.at[1, 'column_2'] = 'string_variable'
mean_column_2 = df1['column_2'].mean()  # Calculate the mean of 'column_2'

print(mean_column_2)'''

In [21]:
#Qn 6:-
'''
A window function executes a calculation across a related set of table rows to the
current row.
Rolling Window
Weighted window
Expanding window
Exponentially Weighted window
'''

In [ ]:
#Qn 7:-
'''
import datetime

current_date = datetime.datetime.now()

current_month = current_date.strftime("%B")
current_year = current_date.strftime("%Y")

print(f"Current month: {current_month}")
print(f"Current year: {current_year}")
'''

In [ ]:
#Qn 8:-
'''
import pandas as pd
date1 = input("Enter the first date (YYYY-MM-DD): ")
date2 = input("Enter the second date (YYYY-MM-DD): ")
date1 = pd.to_datetime(date1)
date2 = pd.to_datetime(date2)
time_diff = date2 - date1

days = time_diff.days
hours = time_diff.seconds // 3600
minutes = (time_diff.seconds // 60) % 60

print(f"The difference between the two dates is {days} days, {hours} hours, and {minutes} minutes.")
'''

In [ ]:
#Qn 9:-
'''
import pandas as pd
file_path = input("Enter the CSV file path: ")
column_name = input("Enter the column name to convert to categorical: ")
category_order = input("Enter the category order (comma-separated values): ").split(",")
data = pd.read_csv(file_path)
data[column_name] = pd.Categorical(data[column_name], categories=category_order, ordered=True)
sorted_data = data.sort_values(by=column_name)
print(sorted_data)
'''

In [ ]:
#Qn 10:-
'''
import pandas as pd
import matplotlib.pyplot as plt

file_path = input("Enter the CSV file path: ")
data = pd.read_csv(file_path)
data['Date'] = pd.to_datetime(data['Date'])
grouped_data = data.groupby(['Product Category', 'Date'])['Sales'].sum().reset_index()
pivot_data = grouped_data.pivot(index='Date', columns='Product Category', values='Sales')
pivot_data.plot(kind='bar', stacked=True, figsize=(10, 6))
plt.xlabel('Date')
plt.ylabel('Sales')
plt.title('Sales by Product Category over Time')
plt.show()
'''

In [ ]:
#Qn:-11
'''
import pandas as pd
file_path = input("Enter the CSV file path: ")
data = pd.read_csv(file_path)
mean_score = data['Test Score'].mean()
median_score = data['Test Score'].median()
mode_score = data['Test Score'].mode().values[0]
results = pd.DataFrame({
    'Metric': ['Mean', 'Median', 'Mode'],
    'Score': [mean_score, median_score, mode_score]
})
print(results)